# String Problem 1

In [ ]:
s = input()

upper, lower = 0, 0
for char in s:
  if 'a' <= char and char <= 'z':
    lower += 1
  elif 'A' <= char and char <= 'Z':
    upper += 1
if upper > lower:
  print(s.upper())
else:
  print(s.lower())

BaNaNa
banana

#String Problem 2

In [ ]:
s = input()

digit, word = 0, 0
for char in s:
  if '0' <= char and char <= '9':
    digit = 1
  elif ('a' <= char and char <= 'z') or ('A' <= char and char <= 'Z'):
    word = 1
if digit == 1 and word == 1:
  print('MIXED')
elif digit == 1:
  print('NUMBER')
elif word == 1:
  print('WORD')

Hello
WORD

#String Problem 3

In [ ]:
s = input()

output_string = ''
upper_case_found = 0
for char in s:
  if 'a' <= char and char <= 'z':
    if upper_case_found == 1:
      output_string += char
  elif 'A' <= char and char <= 'Z':
    upper_case_found += 1
if output_string != '':
  print(output_string)
else:
  print('BLANK')

coDIng
BLANK

#String Problem 4

In [ ]:
s = input()

w = s.replace('too good', 'excellent')
print(w)

This book is good too!
This book is good too!

# String Problem 5

In [ ]:
r = input()
s = input()
output_string = ''

for char in r:
  if s.count(char) > 0:
    output_string += char

for char in s:
  if r.count(char) > 0:
    output_string += char

if output_string != '':
  print(output_string)
else:
  print('Nothing in common.')

dean
tom
Nothing in common.

#String Problem 6

In [ ]:
s = input()

lowercase, uppercase, digit, special_character = 0, 0, 0, 0
for char in s:
  if ('a' <= char and char <= 'z'):
    lowercase = 1
  elif ('A' <= char and char <= 'Z'):
    uppercase = 1
  elif '0' <= char and char <= '9':
    digit = 1
  else:
    special_character = 1
if lowercase == 1 and uppercase == 1 and digit == 1 and special_character == 1:
  print('OK')
if special_character == 0:
  print('Special character missing')
if digit == 0:
  print('Digit missing')
if lowercase == 0:
  print('Lowercase Missing')
if uppercase == 0:
  print('Uppercase Missing')

ISHRAF
Special character missing
Digit missing
Lowercase Missing

#List Problem 1

In [ ]:
number_list = []

while True:
  s = input()
  if s == 'STOP':
      break
  number_list.append(s)
for x in number_list:
  w = number_list.count(x)
  print(str(x) + ' ' + '-' + ' ' + (str(w)) + ' ' + 'times')

10
20
20
10
10
30
STOP
10 -3 times
20 -2 times
20 -2 times
10 -3 times
10 -3 times
30 -1 times

#List Problem 2